body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F9F7FE;
}

.container {
    width: 45%;
    height: 60%;
    margin: 60px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

p {
    color: #A9A6B3;
}

input[type="text"] {
    width: 75%;
    height: 50px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 8px;
    border: none;
    background-color: #F9F7FE;
    margin-right: 5px;
    font-size: 15px;
}


input[type="submit"] {
    height: 55px;
    width: 85px;
    background-color: #885DF1;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.weather-details {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0px;
}

#city-name {
    margin-top: 50px;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
}

.weather-details p {
    margin-top: 0px;
    line-height: 25px;

}

.temp {
    margin-left: 150px;
    position: relative;
    top: -80px;
}

.temp h1 {
    font-size: 70px;
}

#emoji-icon {
    position: relative;
    font-size: 40px;
    top: -10px;
}

#metric {
    position: relative;
    font-size: 25px;
    font-weight: 400;
    top: -35px;

}

footer {
    margin-top: 0px;
}

#highlight {
    font-weight: 500;
    color: #F65282;
}

a {
    color: #885DF1;
}